<!--&lt;!&ndash;  Template Driven form&ndash;&gt;-->

<!--<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">-->
<!--  <div>-->
<!--    <label for="name">Name:</label>-->
<!--    <input-->
<!--      id="name"-->
<!--      name="name"-->
<!--      [(ngModel)]="user.name"-->
<!--      required-->
<!--      #nameField="ngModel">-->
<!--    <div *ngIf="nameField.invalid && nameField.touched">-->
<!--      Name is required.-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <label for="email">Email:</label>-->
<!--    <input-->
<!--      id="email"-->
<!--      name="email"-->
<!--      [(ngModel)]="user.email"-->
<!--      required-->
<!--      email-->
<!--      #emailField="ngModel">-->
<!--    <div *ngIf="emailField.invalid && emailField.touched">-->
<!--      Email is required and must be valid.-->
<!--    </div>-->
<!--  </div>-->

<!--  <button type="submit" [disabled]="userForm.invalid">Submit</button>-->
<!--</form>-->




