<div class="container">

  <h2>Trainer List</h2>
  <ul>
    <li *ngFor="let trainer of trainers">
      {{ trainer.firstName +" "+ trainer.lastName }}
    </li>
  </ul>

</div>
<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">Trainer Name</th>-->
<!--      <th scope="col">Trainer Id</th>-->
<!--      <th scope="col">Trainer Email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let trainer of trainers">-->
<!-- -->
